$color1: #b1663c;
$color2: #1d6154;
$color3: #0e2f28;
$colorWhite: white;
$colorBg: #fffef8;
$colorBlack: black;
$color-Nav-Activited-Link: black;
$color_Bg_Header_Mode_Edition: black;

$boxShadow: 0px 4px 14px rgba(0, 0, 0, 0.09);