$color1: #b1663c;
$color2: #1d6154;
$color3: #0e2f28;
$colorWhite: white;
$colorBg: #fffef8;
$colorBlack: black;
$color-Nav-Activited-Link: black;
$color_Bg_Header_Mode_Edition: black;
$color_Bg_ligne_modal: #B3B3B3;
$color_Bg_input_img_modal: #e8f1f6;
$color_Bg_btn_input_img_modal: #CBD6DC;
$color_texte_btn_input_img_modal: #306685;
$color_texte_grey_input_img_modal: #444;
$color_texte2_grey_input_img_modal: #3D3D3D;
$color_bg_btn_grey_input_img_modal: #a7a7a7;

$boxShadow: 0px 4px 14px rgba(0, 0, 0, 0.09);